/* _content/CSSGridTemplates/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-dxoauxb5mn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-dxoauxb5mn] {
    flex: 1;
}

.sidebar[b-dxoauxb5mn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-dxoauxb5mn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dxoauxb5mn]  a, .top-row[b-dxoauxb5mn]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-dxoauxb5mn]  a:hover, .top-row[b-dxoauxb5mn]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-dxoauxb5mn]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-dxoauxb5mn] {
        justify-content: space-between;
    }

    .top-row[b-dxoauxb5mn]  a, .top-row[b-dxoauxb5mn]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dxoauxb5mn] {
        flex-direction: row;
    }

    .sidebar[b-dxoauxb5mn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-dxoauxb5mn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-dxoauxb5mn]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-dxoauxb5mn], article[b-dxoauxb5mn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-dxoauxb5mn] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-dxoauxb5mn] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/CSSGridTemplates/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-9izhlbnczd] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-9izhlbnczd] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-9izhlbnczd] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9izhlbnczd] {
    font-size: 1.1rem;
}

.bi[b-9izhlbnczd] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-9izhlbnczd] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-9izhlbnczd] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-9izhlbnczd] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-9izhlbnczd] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9izhlbnczd] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9izhlbnczd] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9izhlbnczd]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-9izhlbnczd]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-9izhlbnczd]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-9izhlbnczd] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-9izhlbnczd] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-9izhlbnczd] {
        display: none;
    }

    .nav-scrollable[b-9izhlbnczd] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/CSSGridTemplates/Components/Pages/Home.razor.rz.scp.css */
.home-container[b-yovxvb1k7l] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
    padding:10px;
    gap:1rem 1rem;
    height:90vh;
    align-content: center;
}

.layout-item-container[b-yovxvb1k7l]{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    transition:box-shadow .3s;
}

.home-container > .layout-item-container:hover[b-yovxvb1k7l] {
    box-shadow: 10px 10px 10px #ccc;
}

.three-column-layout[b-yovxvb1k7l]{
    background-color: lightgray;
}

.newspaper-layout[b-yovxvb1k7l]{
    /*background-color:lightseagreen;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}

.newspaper-image[b-yovxvb1k7l]{
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:2;
    border:1px solid red;
    align-self: center;
    justify-self: flex-end;
}

.newspaper-text[b-yovxvb1k7l]{
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:2;
    grid-column-end:3;
    border:1px solid green;
}

.three-column-layout-header[b-yovxvb1k7l]{
    background-color: lightskyblue;
}

.two-column-layout[b-yovxvb1k7l]{
    background-color: darksalmon;
}

.three-column-layout-header-footer[b-yovxvb1k7l]{
    background-color:peachpuff;
}

.one-column-layout[b-yovxvb1k7l]{
    background-color: firebrick;
}

.six-element-grid-container[b-yovxvb1k7l]{
    background-color: #bcd0c7;
}

.six-element-grid[b-yovxvb1k7l]{
    display: grid;
    grid-template-columns: 1fr repeat(4,1fr);
    grid-template-rows:repeat(5,1fr);
}

.sub-header[b-yovxvb1k7l]{
    font-size:1.2rem;
}

.six-element-grid > div[b-yovxvb1k7l]{
    border:1px solid black;
}

.six-element-grid-image[b-yovxvb1k7l]{
    grid-area:1 / 1 / 2 / 2;
}

.six-element-grid-header[b-yovxvb1k7l]{
    grid-area:1 / 2 / 2 / 6;
}

.six-element-grid-left-nav[b-yovxvb1k7l]{
    grid-area:2 / 1 / 6 / 2;
}

.six-element-grid-center-content[b-yovxvb1k7l]{
    grid-area: 2 / 2 / 6 / 6;
    display: grid;
    place-items: center;
}

.six-element-grid-center-footer[b-yovxvb1k7l]{
    grid-area: 6 / 1 / 7 / 6;
    display: grid;
    place-items: center;
}

@media only screen and (max-width:900px){
    .home-container[b-yovxvb1k7l] {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
    }
} 
